<%- include('../partials/header'); %>

    <nav id="homePageNav" class="flexRow">
        <a class="logoutButton" href="/logut">LOG OUT</a>
    </nav>
    <div class="contentWrapper">
        <h1 class="welcomeBanner">Welcome <%= name %></h1>
        <div class="flexRow">
            <a>Make A Reservation</a>
            <a>Add A Guest Profile</a>
        </div>
    </div>

<%- include('../partials/footer'); %>