<%- include('./partials/header'); %>

  <div class="contentWrapper">
    <img src="images/hotelLogo.svg" alt="Company Logo">
    <h1>HOTELWARE</h1>
    <a href="/auth/google" >LOG IN</a>
  </div>

<%- include('./partials/footer'); %>
