html {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%; 
    background-repeat: no-repeat;
    background: linear-gradient(#e66465, #df720d );
  }

div.flexRow {
    align-items: center;
}

div.landing {
    width: 90%;
}

nav.flexRow {
    justify-content: flex-end;
}

h2 {
    color: white;
    margin-bottom: .8rem;
    font-family: 'Spartan', sans-serif;
    font-size: 2.5rem;
    letter-spacing: .5rem;
}


button {
    font-size: 2rem;
    margin: 1.5rem;
    padding: .6rem;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    box-shadow: -1px -2px black;
}

select {
    font-size: 2rem;
    width: 30rem;
    padding: 1rem;
}

a.guestProfiles {
    background-color: #e66465;
}