body {
    background: white;
}

img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: linear-gradient(#e66465, #df720d);
    /* box-shadow: 10px 4px rgba(0,0,0,.8) */
}

h1 {
    font-family: 'Abril Fatface' ;
    font-size: 3rem;
    margin-bottom: 2rem;
    letter-spacing: .7rem;
    /* text-shadow: 4px 8px rgba(80,80,80, .6); */
    text-shadow: -4px 4px hsla(0, 0%, 70%, .4),
             -3px 3px hsla(0, 0%, 60%, .2),
             -2px 2px hsla(0, 0%, 70%, .2),
             -1px 1px hsla(0, 0%, 70%, .2),
             0px 0px hsla(0, 0%, 50%, .5),
             1px -1px hsla(0, 0%, 30%, .6),
             2px -2px hsla(0, 0%, 30%, .7),
             3px -3px hsla(0, 0%, 32%, .8),
             4px -4px hsla(0, 0%, 30%, .9),
             5px -5px hsla(0, 0%, 30%, 1.0);
}


