nav.flexRow {
    align-items: stretch;
}

.centerForm {
    margin: 1rem auto;
    padding: 1rem;
}

div.guestLookup {
    margin-bottom: 2rem;
    align-items: stretch;
}

div.guestLookup button {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    padding: .6rem;
    border-radius: 10px;
}

div.guestLookup input {
    width: 25rem;
}

h1.mainHeading {
    margin: 2rem;
}

label.inputFormat {
    color: white;
    text-align: left;
    margin: 1rem 0;
    font-size: 2rem;
}

.inputFormat {
    display: block;
    margin: 1rem;
    font-size: 1.4rem;;
}

select {
    font-size: 1.4rem;
    width: 20rem;
    margin-left: .6rem;
}

#street {
    margin: .8rem 0;
    width: 46.6rem;
}

#city {
    margin: .8rem 0;
    width: 30rem;
}

#state {
    margin: .8rem 0;
    width: 5rem;
}

.flexRowSpace {
    margin-left: .8rem;
}

#zip {
    margin: .8rem 0;
    width: 10rem;
}

#ccNumber {
    margin: .8rem 0;
    width: 46.6rem;
}

#cvv, #exp {
    margin: .8rem 0;
    width: 5rem;
}

.makeButton {
    font-size: 1.5rem;
    padding: .8rem;
    border-radius: 10px;
}
