
html {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%; 
    background-repeat: no-repeat;
    background: linear-gradient(#e66465, #df720d );
  }


  form {
      padding: 3rem;
  }

  button {
      font-size: 1.5rem;
      padding: .9rem;
      margin: 1rem;
      border-radius: 10px;
  }
