* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%; 
    background-repeat: no-repeat;
    background: linear-gradient(#e66465, #df720d );
  }

.contentWrapper {
    width:75%;
    margin: .8rem auto;
    text-align: center;
}

.mainHeading {
    color: white; 
    font-family: 'Abril Fatface';
    letter-spacing: .6rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    font-size: 3.5rem;
}

.flexRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.leftJustify {
    justify-content: flex-start;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.centerFlexColumn {
    align-items: center;
}

a {
    font-family: 'Abril Fatface' ;
    letter-spacing: .4rem;
    text-decoration: none;
    font-size: 1.6rem;
    padding: .8rem;
    border-radius: 10px;
    box-shadow: 3px 5px black;
    border: 1px solid black;
    font-weight: 600;
    color: white;
    background-color: #df720d;
}

a:hover {
    cursor: pointer;
    box-shadow: -1px -2px black;
}

label.inputFormat {
    color: white;
    text-align: left;
    margin: 1rem 0;
    font-size: 2rem;
}

.inputFormat {
    display: block;
    margin: 1rem;
    font-size: 1.4rem;;
}

select {
    font-size: 1.4rem;
    width: 20rem;
    margin-left: .6rem;
}