<%- include('../partials/header'); %>

    <nav class="flexRow leftJustify">
        <a href="/hotels/<%= hotel._id %>">BACK</a>
    </nav>
    <div class="contentWrapper">
        <div class="flexColumn">
            <div class="centerForm">
                <h1 class="mainHeading">New Reservation</h1>
                <form action="/guests/show" method="GET">
                    <div class="flexRow leftJustify guestLookup">
                        <input type="text" name="name" required pattern="[a-zA-Z]{1,}">
                        <button type="submit">Look Up Guest</button>
                    </div>
                </form>
                <form action="/reservations" method="POST">
                    <div class="flexRow leftJustify">
                        <div>
                            <label class="inputFormat" for="arrival">Arrival:</label>
                            <label class="inputFormat" for="departure">Departure:</label>
                        </div>
                        <div>
                            <input class="inputFormat" id="arrival" name="arrival" type="text" placeholder="mm/dd/yyyy" pattern="[0-1][1-9]\/\d[1-9]\/\d\d\d\d" required>
                            <input class="inputFormat" id="departure" name="departure" type="text" placeholder="mm/dd/yyyy" pattern="[0-1][1-9]\/\d[1-9]\/\d\d\d\d" required>
                        </div>
                    </div>
                    <div class="flexRow leftJustify">
                        <label class="inputFormat">Select Room</label>
                        <select>
                            <%  hotel.rooms.forEach( (room) => { %>
                            <%- `<option>${room}</option>` %>
                            <%  }) %>
                        </select>
                    </div>
                    <div class="flexRow leftJustify">
                        <label class="inputFormat">Title:</label>
                        <select>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Sir">Sir.</option>
                            <option value="Dr.">Dr.</option>
                        </select>
                    </div>
                    <div class="flexRow leftJustify">
                        <div>
                            <label class="inputFormat" for="firstName">First Name:</label>
                            <label class="inputFormat" for="lastName">Last Name:</label>
                        </div>
                        <div>
                            <input class="inputFormat" id="firstName" name="firstName" type="text" required>
                            <input class="inputFormat" id="lastName" name="lastName" type="text" required>
                        </div>
                    </div>
                    <div class="address">
                        <label class="inputFormat" for="street">Street</label>
                        <input class="inputFormat" id="street" name="street" type="text" required>
                        <div class="flexRow leftJustify">
                            <div>
                                <label class="inputFormat" for="city">City</label>
                                <input class="inputFormat" id="city" name="city" type="text" required>
                            </div> 
                            <div class="flexRowSpace">
                                <label class="inputFormat" for="state">State</label>
                                <input class="inputFormat" id="state" name="state" type="text" required>
                            </div>
                            <div class="flexRowSpace">
                                <label class="inputFormat" for="zip">ZIP</label>
                                <input class="inputFormat" id="zip" name="zip" type="text" required>
                            </div>
                        </div>
                    </div>
                    <div class="flexRow leftJustify">
                        <div>
                            <label class="inputFormat" for="phone">Phone:</label>
                            <label class="inputFormat" for="email">Email:</label>
                        </div>
                        <div>
                            <input class="inputFormat" id="phone" name="phone" type="text" required pattern="\d{9,}">
                            <input class="inputFormat" id="email" name="email" type="text" required pattern="[a-z0-9._%+]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        </div>
                    </div>
                    <div class="paymentInfo">
                        <label class="inputFormat" for="ccNumber">Credit Card</label>
                        <input class="inputFormat" id="ccNumber" name="ccNumber" type="text" required pattern="\d{9,}">
                        <div class="flexRow leftJustify">
                            <div>
                                <label class="inputFormat" for="cvv">CVV</label>
                                <input class="inputFormat" id="cvv" name="cvv" type="text" required pattern="\d{3,}">
                            </div> 
                            <div class="flexRowSpace">
                                <label class="inputFormat" for="exp">EXP</label>
                                <input class="inputFormat" id="exp" name="exp" type="text" required pattern="[0-1][1-9]\/\d\d">
                            </div>
                        </div>
                    </div>
                    <button class="makeButton" type="submit">Make Reservation</button>
                </form>
            </div>
        </div>
    </div>

<%- include('../partials/footer'); %>